$body-font-family: 'Bai Jamjuree', sans-serif;
$border-radius-root: 6px;
$font-size-root: 16px;

$btn-text-transform: capitalize;
$btn-icon-padding: 14px;
$btn-letter-spacing: 0;
$btn-font-weight: 600;
$btn-icon-font-size: 20;
$list-item-title-font-size: 0.929rem;
$list-item-dense-title-font-size: 0.929rem;
$list-item-dense-title-font-weight: initial;
$fab-icon-sizes: (
  'small': 20
);
$btn-sizes: (
  'default': 41,
  'large': 54
);

$headings: (
  'h1': (
    'size': 6rem,
    'line-height': -.015625em
  ),
  'h2': (
    'size': 3.75rem,
    'line-height': -.0083333333em1.5em
  ),
  'h3': (
    'size': 3rem,
    'line-height': normal
  ),
  'h4': (
    'size': 2.125rem,
    'line-height': .0073529412em
  ),
  'h5': (
    'size': 1.5rem,
    'line-height': normal
  ),
  'h6': (
    'size': 1.25rem,
    'line-height': .0125em
  ),
);
$subtitles: (
  'subtitle-1': (
    'size': 1rem,
    'line-height': .009375em
  ),
  'subtitle-2': (
    'size': 0.875rem,
    'line-height': .0071428571em
  )
);
$body:(
  'body-1':(
    'size': 0.875rem,
    'line-height': .0071428571em
  ),
)